
<% @items.each do |item| %>
<div class="media" id="item-<%= item.id %>">
  <div class="media-body">
    <h4 class="media-heading">
      <%= item.name %>
      <%= link_to "",  item, method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>
    </h4>
  </div>
</div>
<% end %>
